// Vuetify 스타일 임포트
// failed to locate @require file ~vuetify/src/stylus/main.styl
// 위와 같은 에러는 vuetify 2.0 이상 버전으로 오면서 바뀐듯. import 사용
// @require '~vuetify/src/stylus/main'
@import '~vuetify/src/stylus/main'

